{% extends 'core/base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block content %}

{% for ordered_item in items %}
<section class="container py-5" style="padding-top: 0.5rem!important;padding-bottom: 0 !important">
    <div class="row">
        <div class="col-12 col-md-4 mb-4" style="margin-bottom: 0.5rem!important;">
            <div class="card h-100">
                <div class="card-body">
                    <ul class="list-unstyled d-flex justify-content-between">
                        <img class="rounded-circle img-thumbnail border" src="{{ ordered_item.item.main_image.url }}">
                        <li class="text-green text-right" style="color:green">${{ ordered_item.item.price }}</li>
                        <li>
                            <a class="btn btn-success text-white"
                               href="{% url 'core:remove-from-cart' slug=ordered_item.item.slug %}">
                                <i>X</i>
                            </a>
                        </li>

                    </ul>
                    <a href="{% url 'core:product' slug=ordered_item.item.slug %}"
                       style="font-weight: 400 !important; text-decoration: none;">{{ ordered_item.item.name }}</a>
                    <a class="text-green text-right"
                       style="color:red; margin-left: auto; margin-right: 0; text-decoration:none;">x{{ ordered_item.quantity }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

<div>
    {% if items %}
    <a class="order-button" href="{% url 'core:order' %}">Order</a>
    {% else %}
    <p class="order-button disabled-button">Order</p>
    {% endif %}
</div>
{% endblock %}