{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ExpensiveTrash.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'core/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.min.css' %}">
</head>
<body>
    {% include 'core/navbar.html' %}

    {% for ordered_item in items %}
    <section class="container py-5" style="padding-top: 0.5rem!important;padding-bottom: 0 !important">
        <div class="row">
            <div class="col-12 col-md-4 mb-4" style="margin-bottom: 0.5rem!important;">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-green text-right" style="color:green">${{ ordered_item.item.price }}</li>
                            <li class="text-green text-right" style="color:red; margin-left: auto; margin-right: 0;">{{ ordered_item.quantity }}</li>
                        </ul>
                        <a style="font-weight: 400 !important;">{{ ordered_item.item.name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    <div>
        <a href="{% url 'core:order' %}" class="order-button">Order</a>
    </div>

    {% include 'core/footer.html' %}
</body>
</html>