{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ExpensiveTrash.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'core/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.min.css' %}">
</head>
<body>
    {% include 'core/navbar.html' %}

    {% for item in items %}
    <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a>
                            <img src="{{ item.main_image.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-green text-right">${{ item.price }}</li>
                            </ul>
                            <a>{{ item.name }}</a>
                            <p class="card-text">
                                {{ item.description }}
                            </p>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>
    {% endfor %}

    {% include 'core/footer.html' %}
</body>
</html>