{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                Check these out!
            </p>
        </div>
    </div>
    <div class="row">
        {% for category in featured_categories %}
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="{% url 'core:shop' %}?category={{ category.id }}">
                {% if category.image %}
                <img class="rounded-circle img-thumbnail border" src="{{ category.image.url }}">
                {% endif %}
            </a>
            <h5 class="text-center mt-3 mb-3">{{ category.name }}</h5>
            <p class="text-center">
                <a class="btn btn-success" href="{% url 'core:shop' %}?category={{ category.id }}">
                    Go Shop
                </a>
            </p>
        </div>
        {% endfor %}
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Products</h1>
            </div>
        </div>
        <div class="row">
            {% for item in featured_products %}
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'core:product' slug=item.slug %}">
                        <img alt="..." class="card-img-top" src="{{ item.main_image.url }}">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-green text-right">${{ item.price }}</li>
                        </ul>
                        <a class="h2 text-decoration-none text-dark"
                           href="{% url 'core:product' slug=item.slug %}">
                            {{ item.name }}
                        </a>
                        <p class="card-text">
                            {{ item.description }}
                        </p>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Featured Product -->
{% endblock %}