{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ExpensiveTrash.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'core/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.min.css' %}">
</head>
<body>
    <div class="order-status">
    {% if order_status %}
        <h1>Items have been successfully ordered!</h1>
    {% else %}
        <h1>Oops! Something wrong happened! Order has not been finished!</h1>
    {% endif %}
    </div>
</body>
</html>