{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ExpensiveTrash.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'core/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.min.css' %}">
</head>

<body>
    {% include 'core/navbar.html' %}

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <a class="collapsed d-flex justify-content-between h4 text-decoration-none" href="?category=all&page={{ page_obj.number }}">
                        All
                    </a>
                    {% for category in item_categories %}
                    <a class="collapsed d-flex justify-content-between h4 text-decoration-none" href="?category={{ category.name_lowercase }}&page={{ page_obj.number }}">
                        {{ category.name }}
                    </a>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option value="featured">Featured</option>
                                <option value="atoz">A to Z</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for item in object_list %}
                    <!-- Item -->
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ item.main_image.url }}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled" id="item-card-menu">
                                        <!-- Add to favourites -->
                                        <li>
                                            <a class="btn btn-success text-white" href="{% url 'core:add-to-favourites' slug=item.slug %}">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <!-- Go to the product page -->
                                        <li>
                                            <a class="btn btn-success text-white mt-2" href="{% url 'core:product' slug=item.slug %}">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <!-- Add to cart -->
                                        <li>
                                            <a class="btn btn-success text-white mt-2" href="{% url 'core:add-to-cart' slug=item.slug %}">
                                                <i class="fas fa-cart-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="" class="h3 text-decoration-none">{{ item.name }}</a>
                                <p class="text-center mb-0">${{ item.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if is_paginated %}
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        {% for page in page_obj.paginator %}
                        {% if page.number == page_obj.number %}
                        <li class="page-item disabled">
                            <a
                                    class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                                    href="?category={{ category.name_lowercase }}&page={{ page.number }}"
                                    tabindex="-1">{{ page.number }}
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a
                                    class="page-link intive rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                                    href="?category={{ category.name_lowercase }}&page={{ page.number }}"
                                    tabindex="-1">{{ page.number }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    <!-- End Content -->

    {% include 'core/footer.html' %}

    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'core/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'core/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/templatemo.js' %}"></script>
    <script src="{% static 'core/js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>